
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#screen {
  width: 256px;
  height: 240px;

  background-color: black;

  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;

  image-rendering: optimize-contrast;
  image-rendering: -webkit-optimize-contrast;

  -ms-interpolation-mode: nearest-neighbor;
}
